*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black
}
.main{
    
}
.container{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
   
  
}
.images{
    margin: 30px auto;
    display: flex;
    gap: 100px;
    justify-content: center;

}
img{
    
}
h2{
    margin: 20px auto;
    color: white;
}
h1{
    color: white;
    font-size: 72px;
    text-shadow: 2px 3px 4px yellow;
}
.b1{
    background-color: yellowgreen;
    margin: 0px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}
.b1:hover{
    transition: 0.2s ease-in-out;
    background-color: goldenrod;
}